.container {
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    //display: grid;
    //grid-template-rows: auto 1fr auto;

    @media(max-width: $lg) {
       overflow-x: hidden;
    }
}

.page {
    position: relative;
    flex: 1 0 auto; // Footer at bottom
}
