@import 'fonts';
@import './abstracts/index.scss';

html {
    box-sizing: border-box;
    font-size: calc(100vw / 1920 * 10);

    &.disable-fix {
        @media (min-width: 1025px) {
            padding-right: 17px;
        }
    }

    @media (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 10);
    }

    @media (max-width: 1024px) {
        font-size: calc(100vw / 768 * 10);
    }

    @media (max-width: 767px) {
        font-size: calc(100vw / 500 * 10);
    }

    @media (max-width: 500px) {
        font-size: calc(100vw / 360 * 10);
    }
}

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    //font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000;
    overflow-x: hidden;

    &._lock {
        overflow-y: hidden;
    }

    /* &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
        -webkit-appearance: none;
    } */
}

button,
textarea,
input {
    font-family: inherit;
}

dt {
    float: left;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@import 'components/all';
